<div class="searchcontent">
  <div id="search">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Game Name</mat-label>
      <input
        [formControl]="nameControl"
        matInput
        placeholder="Pac-Man"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let name of filteredNames | async" [value]="name">
          {{ name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="picker" appearance="fill">
      <mat-label>Publisher</mat-label>
      <mat-select [formControl]="publisherControl">
        <mat-option><i>Deselect selection</i></mat-option>
        <mat-option
          *ngFor="let publisher of publisherList"
          [value]="publisher"
          >{{ publisher }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="picker" appearance="fill">
      <mat-label>Developer</mat-label>
      <mat-select [formControl]="developerControl">
        <mat-option><i>Deselect selection</i></mat-option>
        <mat-option
          *ngFor="let developer of developerList"
          [value]="developer"
          >{{ developer }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="picker" appearance="fill">
      <mat-label>Genres</mat-label>
      <mat-select [formControl]="genreControl" multiple>
        <mat-option *ngFor="let genre of genreList" [value]="genre">{{
          genre
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="picker" appearance="fill">
      <mat-label>Platform</mat-label>
      <mat-select [formControl]="platformControl" multiple>
        <mat-option *ngFor="let platform of platformList" [value]="platform">{{
          platform
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="picker" appearance="fill">
      <mat-label>Categories</mat-label>
      <mat-select [formControl]="categoriesControl" multiple>
        <mat-option
          *ngFor="let categorie of categorieList"
          [value]="categorie"
          >{{ categorie }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-label>Price</mat-label>
    <mat-slider
      #sliderPrice
      class="priceSlider"
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="10"
      step="10"
      min="0"
      max="70"
      aria-label="units"
    ></mat-slider>

    <button
      class="searchbutton"
      mat-raised-button
      (click)="search()"
      color="primary"
      [class.spinner]="loading"
      [disabled]="loading"
    >
      Search
    </button>
  </div>
</div>
