@import url('http://fonts.cdnfonts.com/css/new-super-mario-font-u');
#welcomeBox {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 5em;
    transition: 0.5s;
    font-family: 'New Super Mario Font U', sans-serif;
    color: #fff;
    text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000;
}

#searchcontent {
    width: 100%;
    text-align: center;
    padding-top:2vh;
}

#search {
    margin: 0 auto;
    display: inline-block;
}

.searchbutton {
    margin-left: 20px;
    bottom: 10px;
}

.picker {
    margin-left: 10px;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }