.title {
    margin: 0 auto;
    margin-top: 40px;
    font-size: 2em;
}

.header {
    height: 150px;
}

.header_img {
    width: 200px;
    height: 100px;
}

.column {
    display: flex;
    flex-direction: row;
}

.row {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    white-space: initial;
    font-size: 1.2em;
}

.info {
    margin-bottom: 10px;
}

.video {
    margin-bottom: 15px;
}